<mat-table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

  <div *ngFor="let item of displayedColumns.columns;last as action; let i = index">
    <div *ngIf="!action;else lastItem">
      <ng-container matColumnDef="{{ item }}">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns.columnsName[i] }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row[item] }} </mat-cell>
      </ng-container>
    </div>

    <ng-template #lastItem>
      <ng-container matColumnDef="{{ displayedColumns.columns[i] }}">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          {{ displayedColumns.columnsName[i] }}</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
          <a *ngFor="let item of routes" routerLink="{{ item.link }}{{ row.id }}">
            <i class="{{ item.class }}">{{ item.icon }}</i>
          </a>
        </mat-cell>
      </ng-container>

    </ng-template>
  </div>

  <mat-header-row *matHeaderRowDef="displayedColumns.columns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns.columns;"></mat-row>
</mat-table>
