<mat-card>
  <mat-card-title>Create New Character</mat-card-title>
  <form class="form-style">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="character.name" name="name"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Age" [(ngModel)]="character.age" name="age"/>
    </mat-form-field>
  </form>
  <button class="form-button" mat-raised-button color="primary" (click)="create()">Save</button>
  <button class="form-button" mat-raised-button color="default" (click)="back()">Return</button>
</mat-card>
