/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-icon {
  color: rgb(0, 132, 255);
}

.center {
  vertical-align: middle;
}

.text-white {
  color: white;
}

.text-negrito {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.text-negrito:hover {
  font-weight: 300;
  color: rgb(0, 132, 255);
  text-decoration: none;
}
